header.nav {
  height: 200px;
  width: 800px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #d6b200;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  padding: 12.5em;
 
}