/* nav section styles */
nav {
  
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color:#FFFFFF;
  display:flex;
  justify-content: space-between;
  align-items: center;
 }
 span {
   
   margin: 1.5em;
   padding: 1.5em;
 }
 .tweeterIcon {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;

 }
 