/* nav section styles */
nav {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color:#FFFFFF;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;

 }
 
 .newTweetText {

  display:flex;
  flex-direction: column;


 }
 