/* style for the tweet button */
.tweet-button{
  color: white;
  background-color: #4056A1;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}
.tweet-button:hover{
  background-color: darkblue;
}
/* style for the form section */
form {
  display:flex;
  justify-content: center;
  align-items: first baseline;
  flex-direction: column;
  width: 100%;
  padding: 1.5em;
}
/* Styling for the section new-tweet */
section.new-tweet {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}
/* style for the tweet button and counter  */
.button-counter {
  display:flex;
  width:100%;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  font-family: "Bungee", sans-serif;
  padding-left: 3px;
  padding-right: 3px;
  font-weight: 400;
  font-style: normal;
}
/* style for the textarea */
#tweet-text {
  width:100%;
  height: 50px;
  border: none;
  border-bottom: 5px solid rgb(104, 98, 98);
  background-color: inherit;
  padding: 3px;

}
#tweet-text:focus{
  background-color: lightgray;
  
}
.counter.below-zero {

  color: red;

}